# import libraries

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Load the previously separated data (training/test)'
# we will 1st find the Accuracy then apply the model on the test data set if we are satisfied with the Accuracy

In [2]:

data = pd.read_csv('Desktop/Python//booking/Future_Bookings_Train.csv' ,encoding="latin-1")
data.head()

   Month   sales  ch1_spend  ch2_spend
0      1  128737    1794323     925311
1      2  159867    2119022    1052114
2      3  190928    2240635    1416348
3      4  175295    2043855    1247922
4      5  201215    2330420    1513393

In [3]:
#selecting the features 
features = ['ch1_spend', 'ch2_spend']
#selecting the target variable'what we want to predict'
target = ['sales']

In [4]:
#implement features and target variables
x = data[features]
y = data[target]

In [5]:
#spliting the data set to calculate the accuracy score later on
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=324)

In [6]:
#create and build the model
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [7]:
#prediction on the test data(previously known not the unknown test set)
y_prediction = regressor.predict(x_test)
y_prediction

array([[ 576836.10389029],
       [ 345205.52978041],
       [ 211404.82237632],
       [ 196369.30531192],
       [ 157403.7528483 ],
       [ 474905.37217613],
       [ 228171.86537707],
       [ 244373.67742142],
       [ 239850.1462178 ],
       [ 203149.04261463],
       [ 313211.31132654],
       [ 141085.98373107]])

In [8]:
#sanity check
y_test

     sales
30  579342
19  357727
4   201215
22  235651
10  153874
26  434462
13  237205
7   222702
21  270127
5   207764
14  290305
11  157717

In [9]:
#with 97% Accuracy we now have a solid model that can we used
print("Accuracy on test set: {:.2f}".format(regressor.score(x_test, y_test)))

Accuracy on test set: 0.97

# after spliting the dataset to training/test
# upload the training data set to a pandas dataframe

In [10]:
TestDataset = pd.read_csv('Desktop/Python/booking/Future_Bookings__Test.csv' ,encoding="latin-1")
TestDataset

    Month  ch1_spend_pred  ch2_spend_pred
0      37         3242688         3581857
1      38         3245078         3194438
2      39         3842958         3857122
3      40         3679834         3847946
4      41         4161251         3728782
5      42         4452800         4055848
6      43         4591274         4693084
7      44         4009656         4088780
8      45         3077247         2988618
9      46         2689264         2921886
10     47         2109159         2350419
11     48         2442047         2493494

In [11]:
#just to make sure we have the right data
TestDataset.shape

(12, 3)

In [12]:
#select features
TestDataset[['ch1_spend_pred', 'ch2_spend_pred']]

    ch1_spend_pred  ch2_spend_pred
0          3242688         3581857
1          3245078         3194438
2          3842958         3857122
3          3679834         3847946
4          4161251         3728782
5          4452800         4055848
6          4591274         4693084
7          4009656         4088780
8          3077247         2988618
9          2689264         2921886
10         2109159         2350419
11         2442047         2493494

In [13]:
#implement features on the dataframe(slicing )
SalesMonth37_48 = regressor.predict(TestDataset[['ch1_spend_pred', 'ch2_spend_pred']])

In [14]:
#this is our predictions
SalesMonth37_48

array([[ 461650.60702792],
       [ 414192.37382581],
       [ 493328.15041342],
       [ 492757.6459095 ],
       [ 476529.66916879],
       [ 515598.91526174],
       [ 593176.28092407],
       [ 521135.57911453],
       [ 389553.3631518 ],
       [ 382696.30831659],
       [ 314672.26906861],
       [ 331066.5200099 ]])